$spacer: 1rem;
$gap: 1rem;

// ========================== //
//  Border radius
// ========================== //
$border-radius: (
	input: 0.3rem,
	button: 0.4rem,
	card: 0.75rem,
	circle: 50%,
);

// ========================== //
// Device breakpoints (width) //
// ========================== //
$breakpoints: (
	phone: 25em,
	tablet: 35em,
	desktop: 50em,
	lgDesktop: 65em,
);
